# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Virtual environment
env/
venv/

# Environment variables
.env

# IDE/editor settings
.vscode/
*.swp
*.swo

# Byte-compiled / backup files
*.bak
*.tmp

# Logs and DBs
*.log
*.sqlite3

# Build
build/
dist/
*.tar.gz
*.whl

# macOS and Linux
.DS_Store
Thumbs.db
